.inputinitial {
  opacity: 50%;
}

/* error message displayed */
.error {
  border-color: hsl(4, 100%, 67%);
  color: hsl(4, 100%, 67%);
  opacity: 100;
}

/* success message for mobile */
#successdiv {
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
  padding-left: 1rem;
}
#successdiv h1, #successdiv p {
  padding-right: 5rem;
}
#successdiv .btn2 {
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
}
#successdiv .btn2:hover {
  box-shadow: 0 0 1rem rgb(0, 0, 0);
}

/* hidden class */
.hidden {
  display: none;
}

/* Style guide fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* inner div of the subscription page */
.innerdiv {
  padding-left: 1rem;
  position: relative;
}
.innerdiv ul {
  padding: 0;
  margin: 1rem;
}
.innerdiv li::marker {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21"><g fill="none" transform="scale(0.6) translate(0,7)" transform-origin="center"><circle cx="10.5" cy="10.5" r="10.5" fill="%23FF6155"/><path stroke="%23FFF" stroke-width="2" d="M6 11.381 8.735 14 15 8"/></g></svg>');
}
.innerdiv li {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.innerdiv input {
  width: 90%;
  height: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.5rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transform: translate(-50%, -0.7rem);
  padding-left: 2rem;
}
.innerdiv input:focus {
  border-color: black;
  color: black;
  opacity: 100;
}
.innerdiv .btn1 {
  width: 90%;
  height: 3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.5rem;
  margin-top: 1rem;
  background-color: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
}
.innerdiv img {
  margin: 0;
  padding: 0;
}
.innerdiv button:hover {
  box-shadow: 0 0 1rem rgb(0, 0, 0);
}
.innerdiv span {
  width: 10rem;
  position: absolute;
  left: 55%;
  color: hsl(4, 100%, 67%);
}

/* for desktop */
@media only screen and (min-width: 400px) {
  body {
    background-color: hsl(235, 18%, 26%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* succes message for desktop */
  }
  body .outerdiv {
    display: flex;
    width: 56.25rem;
    height: 37.1rem;
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 1rem;
  }
  body .outerdiv img {
    order: 2;
  }
  body .outerdiv .innerdiv {
    padding: 3.5rem 5rem 5rem 5rem;
  }
  body .outerdiv .innerdiv h1 {
    font-size: 3rem;
  }
  body .outerdiv .innerdiv input, body .outerdiv .innerdiv button {
    width: 65%;
  }
  body #successdiv {
    background-color: hsl(0, 0%, 100%);
    height: 23rem;
    width: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 1rem;
  }
  body #successdiv div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  body #successdiv h1, body #successdiv p {
    padding-right: 1rem;
  }
  body #successdiv .btn2 {
    width: 90%;
    height: 3rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
  }
  body #successdiv .btn2:hover {
    box-shadow: 0 0 1rem rgb(0, 0, 0);
  }
}/*# sourceMappingURL=style.css.map */